/* #map {
    background:  url(New_York_City_Subway_Map.svg);
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
} */

agm-map{
  height: calc( 100vh - 100px );  
}